/* ================================= 
  Base Element Styles
==================================== */
body{
    background-color: lightgray;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}
.main-header{
    border:solid black;
    background-color: white;
}
.container{
    margin-bottom:25px;
}

.containprofile{
    background-color: darkgray;
}

.containportfolio{
    display:block;
    border:solid black;
    background-color: white;
}

li a{/* Remove underline on list links in nav */
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    color:white;
    padding:10px;
}

p,h3,h2{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.profile_sec{
    display:block;
    border:solid blue;
    padding-top: 25px;
    overflow:hidden;
}

p{
    font-size: 20px;
}
.name{
    padding:1%;
}
.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

/* ================================= 
  Root Design (Mobile 1st approach)
==================================== */
.main-header{
    text-align: center;
}
.name{
    display:block;
    text-align: center;
}  

h2.name{
    float:left;
}
a#top{/*BACK TO TOP "href="#top"*/
    float:right;
    margin-top:30px;
    margin-right: 20px;
}

footer a{
    text-decoration: none;
}
.containfooter nav{
    display:none;
}
li{
    display:block;
    margin:5px;
    background-color: black;
}

.profile{/* IMAGE PROFILE*/
    display:block;
    max-width: 200px;
    margin-left:auto;
    margin-right:auto;
}
.profile_sec p{/* TEXT for PROFILE */
    text-align: center;
    width:auto;
    margin:2%;
}

.projects{/*Project Grid Layout 1 vertical column*/
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%; 
}
.projectimg{
    width:100%;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 768px) {/* Tablet */
    .main-header{
        text-align: center;
    }
    .name{
        display:block;
    }

    a#top{/*BACK TO TOP "href="#top"*/
        display: none;
    }

    nav{
        display:inline-block;
        background-color: darkgray;
    }
    li{
        display:inline;
    }

    .profile{/* IMAGE PROFILE*/
        float: right;
        margin-right:2%;
        max-width: 100%;
    }
    .profile_sec p{/* TEXT for PROFILE */

        text-align: left;
        max-width: 45%;
        margin:2%;
    }

    .projects{/*Project Grid Layout 2 Vertical Columns*/
        display:inline-block;
        width:47%;
        margin:1%; 
    }
    .projectimg{
        width:100%;
    }

    .containfooter h2{
        float:left;
        padding:1%;
        margin:0.67em;
    }
    .containfooter nav{
        display:block;
        float:right;
        padding:1%;
        margin:0.67em;
        background-color: lightgray;
    }
}

@media (min-width: 1024px) {/* PC */
    .name{
        float:left;
        padding:1%;
        margin:0.67em;
    }

    a#top{/*BACK TO TOP "href="#top"*/
        display: none;
    }

    nav{
        float:right;
        padding:1%;
        margin:0.67em;
        background-color: lightgray;
    }
    li{
        display:inline;
    }

    .profile{/* IMAGE PROFILE*/
        float:right;
        margin-right:5%;
        max-width: 100%;
    }
    .profile_sec p{/* TEXT for PROFILE */
        text-align: left;
        width:55%;
        margin:2%;
    }

    .projects{/*Project Grid Layout 3x2*/
        display:inline-block;
        width:31%; 
        margin:1%;
    }
    .projectimg{
        width:100%;
    }

    .containfooter h2{
        float:left;
        padding:1%;
        margin:0.67em;
    }
    .containfooter nav{
        display:block;
        float:right;
        padding:1%;
        margin:0.67em;
        background-color: lightgray;
    }
}



